.arrowRight{
		@include arrow(87%,63.5%,50px,50px,135deg ) //Prameters are left,top,height,width,rotationDegree
		border-left: 3px solid $arrowColor;
		border-top: 3px solid $arrowColor;
		transition:all 0.5s ease-in-out;
		&:active{
			transform:rotate(135deg) scale(1.2)
		}
	}
	.arrowLeft{
		@include arrow(9%,63%,50px,50px,-45deg) //Prameters are left,top,height,width,rotationDegree
		border-left: 3px solid $arrowColor;
		border-top: 3px solid $arrowColor;
		transition:all 0.5s ease-in-out;
		
		&:active{
			transform:rotate(-45deg) scale(1.2)
		}

	}